
.website-container 
{
    position: relative;
}

body
{
    position: relative;
    margin: 0;
    padding: 0;
}

html
{
    scroll-behavior: smooth;
}


/*FIRST SLIDE*/

.page-container{
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: 100vw 100vh;
    z-index: -10;
}

.name-container
{
    position: relative;
    height: 100vh;
    margin: 0;
}

.align-name
{
    position: absolute;
}

.inner-name-container
{
    text-align: center;
    position: relative;
    width: 350px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(10px 10px 4px #3c3c3f);
}

.name-holder
{
    position: absolute;
    width:300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name
{
    position: absolute;
    font-family: "Dancing Script", serif;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*padding: 10px 16px;*/
/*First SLIDE NAV*/
nav{
    position: sticky;
    display: inline;
    top: 0;
    color: rgb(144, 157, 164);
    z-index: 100;
}

nav > ul{
    display: flex;
    flex-direction: row-reverse;
    font-size: 35px;
}

nav > ul > li
{
    margin: 15px;
    list-style: none;
    font-family: "Dancing Script", serif;
    cursor: pointer;
}

.section-header
{
    text-align: left;
    margin: 14px;
    padding: 30px;

}

/*
    margin: 0px 15px 10px 15px;
    background-color: #2b2b37;
    border-radius: 10px;
*/
.project-section
{

    color: white;
}

/*SECOND SLIDE CARDS*/
.inner-card-container
{
    display: inline-flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.outer-card-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inner-card-container > div 
{
    margin: 20px;
    width: 350px;
    height: 310px;
    border-radius: 10px;
    background-color: rgb(222, 203, 92);
    color: #0c0c12;
}

/*SECOND SLIDE ARROW BUTTONS*/
.arrow-button
{
    display: inline-block;
    padding: 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(206, 211, 167);
    color: white;
    transition: 200ms;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.arrow-button:hover
{
    background-color: rgb(219, 190, 85);
}

.arrow-icon
{
    width: 40px;
    height: 40px;
}


/*THIRD SLIDE SKILLS*/
.skill-container
{
    display: flex;
    align-items: center;
}

.info
{
    display: inline-flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    font-size: large;
}



.skills-section
{
    background: linear-gradient(rgba(32, 32, 32, 0.7), rgba(133, 130, 130, 0)), url('../images/Skills.jpg') no-repeat; 
    background-size: cover;
    z-index: -100; 
    height: 100vh;
    width: 100%;
    background-size: 100vw 100vh;
    margin: 0;
    display: block;
}

/*THIRD SLIDE BUTTONS*/
.button-container
{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    flex-basis: 33%;
}

.button-container .cv-button
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}



.button-container div button
{
    margin: 8px;
    width: 150px;
    height: 70px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: rgb(206, 211, 167);
    color: white;
    transition: 1s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.button-container div button:hover
{
    background-color: rgb(219, 190, 85);
    filter: drop-shadow(10px 10px 4px #3c3c3f);
}

.button-icon
{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    color: white;
}

/* CONTENT MODAL */

/*

height: 100%;
width: 100%;

*/
.modal
{
    z-index: 10000000;
    position: fixed;
    background-color: rgb(22, 21, 21);
    left: 50%;
    top: 50%;
    width: 40%;
    height: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
}



.contact-modal-content
{
    display: inline-block;
    text-align: center;
    width: 80%;
    height: 80%;
}

.modal-close-button
{
    text-align: end;
    margin: 20px;
    display: block;
}

.close-icon
{
    cursor: pointer;
    width: 50px;
    height: 50px;
}


.social-container
{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.socials
{
    display: flex;
    padding: 30px;
    height: 90px;
    font-size: large;
    color: white;
    border-top: 1px solid rgb(41, 40, 38);
    border-bottom: 1px solid rgb(41, 40, 38); 
    transition: 300ms;
    cursor: pointer;
}

.socials:hover
{
    background-color: rgb(41, 40, 38);;
}


.socials img
{
    width: 70px;
    height: 70px;
    margin-right: 25px;
}

.socials > div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}



/*
background-image: none; background: linear-gradient(rgba(32, 32, 32, 0.7), rgba(133, 130, 130, 0)), url('images/Skills.jpg') no-repeat; z-index: -100; background-size: cover;

*/

html{
    background-color: #0c0c12;
}


